<md-list ng-init="updateList()">
    <div layout="row">
        <div flex>
            <h2 translate="userList.heading"></h2>
        </div>

        <div flex>
            <md-input-container class="md-block">
                <label translate="userList.search.label"></label>
                <input ng-model="search">
            </md-input-container>
        </div>
    </div>

    <md-list-item class="md-2-line" ng-repeat="user in users | filter:search">
        <img ng-src="{{ user.avatar }}" class="md-avatar" alt="{{ user.name }}" ng-if="user.avatar"/>

        <div class="md-list-item-text">
            <h3 ng-bind="user.name"></h3>
            <h4 ng-bind="user.description"></h4>
        </div>

        <md-menu>
            <md-button class="md-secondary" ng-click="$mdOpenMenu($event)" translate="userList.action"></md-button>

            <md-menu-content width="2" md-position-mode="target-right target">
                <md-menu-item>
                    <md-button ng-disabled="true" translate="userList.action.edit"></md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button user-delete user="user" class="md-warn">
                        {{ 'userDelete.action.delete'|translate }}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>

    <md-button ui-sref="user-new" class="md-fab md-primary / user-list__add-btn" aria-label="add">
        <md-icon md-svg-src="resources/images/icon/plus--white.svg"></md-icon>
    </md-button>
</md-list>
