<div layout="row" layout-wrap>
    <div flex="50">
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span>Utilisateurs</span>
            </h2>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item class="md-4-line" ng-repeat="user in people">
                    <div class="md-list-item-text">
                        <h3>{{ user.name }}</h3>

                        <p>{{ user.description }}</p>
                    <p>
                        <md-button class="md-raised md-primary" ng-click="edit(user)">Modifier</md-button>
                        <md-button class="md-raised md-warn" ng-click="remove(user)">Supprimer</md-button>
                    </p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <div flex="50">

        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span>{{ saving ? 'Ajouter' : 'Modifier' }}</span>
            </h2>
        </md-toolbar>

        <md-content layout-padding>
            <div layout="column">
                <md-input-container>
                    <label>Nom</label>
                    <input md-maxlength="30" required name="description" ng-model="user.name">
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container>
                    <label>Email</label>
                    <input md-maxlength="30" required name="description" ng-model="user.email">
                </md-input-container>
            </div>
            <div layout="column">
                <md-input-container>
                    <label>Description</label>
                    <input md-maxlength="30" required name="description" ng-model="user.description">
                </md-input-container>
            </div>
            <div layout="column">
                <md-datepicker ng-model="user.birthDate" md-placeholder="Date de naissance"></md-datepicker>
                <md-radio-group ng-model="user.gender">
                    <label>Genre</label>
                    <md-radio-button value="M" class="md-primary">Homme</md-radio-button>
                    <md-radio-button value="Femme">Femme</md-radio-button>
                </md-radio-group>
            </div>
            <div layout="column">

                <md-button class="md-raised" ng-click="reset()">Reset</md-button>
                <md-button class="md-raised md-primary" ng-click="save(user)">Enregistrer</md-button>

            </div>
        </md-content>
    </div>
</div>
