<h2 class="text-center">Login</h2>
<form method="post" ng-submit="throwForm()" name="loginForm">
    <div class="form-group has-feedback">
        <input class="form-control input-lg" type="text" name="email" ng-model="user._username" placeholder="Email" required autofocus>
        <span class="ion-at form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input class="form-control input-lg" type="password" name="password" ng-model="user._password" placeholder="Password" required>
        <span class="ion-key form-control-feedback"></span>
    </div>
    <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Login</button>
    <br/>
    <p class="text-center text-muted">
        <a ui-sref="user-reset-password">Mot de passe oublié ?</a>
    </p>
</form>